@model IEnumerable<Lab.EF.Entities.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Categories</h2>

<div style="padding: 2rem;">
    <a class="btn btn-primary pull-right" href="@Url.Action("Create", "Categories")"><span class="glyphicon glyphicon-plus"></span>New category</a>
</div>

<table class="table table-responsive table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    @category.Description
                </td>
                <td>
                    <a class="btn-sm btn-info" href="@Url.Action("Detail", "Categories", new { id = category.CategoryID})"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a class="btn-sm btn-success" href="@Url.Action("Edit", "Categories", new { id = category.CategoryID})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn-sm btn-danger" href="@Url.Action("Delete", "Categories", new { id = category.CategoryID})"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>