@model IEnumerable<Lab.EF.Entities.Supplier>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Suppliers</h2>

<div style="padding: 2rem;">
    <a class="btn btn-primary pull-right" href="@Url.Action("Create", "Suppliers")"><span class="glyphicon glyphicon-plus"></span> New supplier</a>
</div>

<table class="table table-responsive table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>
                    @supplier.CompanyName
                </td>
                <td>
                    @supplier.ContactName
                </td>
                <td>
                    @supplier.Phone
                </td>
                <td>
                    <a class="btn-sm btn-info" href="@Url.Action("Detail", "Suppliers", new { id = supplier.SupplierID})"><span class="glyphicon glyphicon-zoom-in"></span></a>
                    <a class="btn-sm btn-success" href="@Url.Action("Edit", "Suppliers", new { id = supplier.SupplierID})"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn-sm btn-danger" href="@Url.Action("Delete", "Suppliers", new { id = supplier.SupplierID})"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
